AUTH_ENDPOINT=http://localhost:8000/auth/o/authorize/
TOKEN_ENDPOINT=http://docker.for.mac.host.internal:8000/auth/o/token/
VERIFY_ENDPOINT=http://docker.for.mac.host.internal:8000/buildings/
CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REDIRECT_URI=http://localhost:8080/api_callback
SCOPES=building:read building:write
